/*Fonts*/
/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Marvel:regular,700&display=swap&subset=cyrillic-ext");

@font-face {
	font-family: "FuturaFuturisC";
	src: url("../fonts/FuturaFuturisC.woff2") format("woff2"), url("../fonts/FuturaFuturisC.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
	font-family: "FuturaFuturisC", sans-serif;
}
/* --------------- */

p {
	text-align: center;
	text-indent: 40px;
	letter-spacing: 1.5px;
	font-size: 12px;
	line-height: 190%;
}

h1 {
	font-family: "Marvel", sans-serif;
	color: red;
	text-align: center;
	font-size: 60px;
	letter-spacing: 15px;
	text-transform: uppercase;
	text-shadow: 0px 3px 5px #000;
}
h3 {
	font-family: "Marvel", sans-serif;
	text-align: center;
	font-size: 40px;
	color: red;
	text-decoration: underline;
	text-shadow: 0px 3px 3px red;
	letter-spacing: 10px;
	text-transform: capitalize;
}

h2,
h4 {
	font-family: "Marvel", sans-serif;
	text-align: center;
	font-size: 40px;
	letter-spacing: 10px;
	text-transform: capitalize;
	text-decoration: underline;
	text-shadow: 0px 3px 3px #000;
}
.fake {
	color: white;
}

.text-footer {
	font-family: "Marvel", sans-serif;
	font-size: 20px;
	text-align: center;
	word-spacing: 20px;
}
.list li {
	text-align: justify;
	letter-spacing: 3px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
.list li > span {
	font-weight: 700;
}
.phrase {
	font-size: 10px;
}
.line,
.shot {
	text-decoration: line-through;
	font-style: italic;
	font-size: 40px;
	color: rgba(255, 99, 71, 0.2);
	white-space: nowrap;
}
